<div class="flex flex-col items-start m-4 ">
<div class="task p-4 bg-white rounded shadow-md flex items-center justify-between">
    <div class="task-info">
      <h3 class="task-name text-lg font-bold"><a href="/tasks/{{_id}}">{{name}}</a></h3>
      <p class="task-label text-sm text-gray-500">{{label}}</p>
      <p class="task-due-date text-sm text-gray-400">{{due_date}}</p>
    </div>
    <div class="task-status mt-2">
        <span class="status 
          {{#if (eq status 'done')}}bg-green-500{{/if}}
          {{#if (eq status 'doing')}}bg-blue-500{{/if}}
          {{#if (eq status 'to-do')}}bg-red-300{{/if}} 
          text-white px-2 py-1 rounded shadow-lg">
          {{#if (eq status 'done')}}Done{{/if}}
          {{#if (eq status 'doing')}}Doing{{/if}}
          {{#if (eq status 'to-do')}}To Do{{/if}}
        </span>
      </div>
  </div>
  </div>