input {
    border: 1px solid black;
}

body {
    background-image: url('img/to-do-app-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }